@charset "UTF-8";
/*configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
}
/*configurações do corpo*/
body{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/*configurações do cabeçalho*/
header{
    background-color: rgb(48, 47, 47);
    height: 5%;
}
header > .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
header > .cabecalho > i{
    font-size: 40px;
}
header > .cabecalho > #iconepesquisa{
    position: absolute;
    font-size: 20px;
    left: 72%;
}
header > .cabecalho > input#pesquisa{
    width: 250px;
    height: 30px;
}
/*configurações para o menu hamburguer*/
#menu{
    height: 100%;
    width: 70%;
    background-color: rgb(48, 47, 47);
    position: absolute;
    top: 0px;
    border: 1px solid;
    /*area de mudança*/
    display: none;
}
.areausuario{
    height: 25%;
    border-bottom: 2px solid;
    display: flex;
    flex-direction: column;
}
#logousuario{
    font-size: 120px;
    margin-bottom: 30px;
}
.informacoes{
    padding: 10px;
}
.informacoes > h3{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
.informacoes > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.maisinformacoes{
    display: flex;
    flex-direction: column;
}
.maisinformacoes > a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 10px;
    color: white;
}
.iconeconfiguracoes{
    position: relative;
    top: 68%;
    padding-bottom: 10px;
    border-top: 2px solid;
}
.iconeconfiguracoes > a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.iconeconfiguracoes > a > i{
    font-size: 35px;
    color: white;
    position: relative;
    top: 5px;
    left: 10px;
}
/*configurações do rodapé*/
footer{
    background-color:  rgb(48, 47, 47);
    height: 7vh;
    display: flex;
    justify-content: space-around;
}
footer div{
    font-size: 170%;
    border-top: 3px solid rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
footer div p{
    font-size: 50%;
    font-weight: bold;
    text-align: center;
}
.numnotificacao{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 74%;
    top: 93%;
    height: 2.5%;
    width: 1%;
}
footer div:active{
    border-top: 3px solid red;
}