@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header{
    background-color:  rgb(48, 47, 47);
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header i{
    font-size: 35px;
}
header > #itens{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100dvh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(48, 47, 47);
}
.areadelogin{
    height: 70%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}
.areadelogin > h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px 5px 10px;
}
.areadelogin > a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    text-decoration: none;
    color: white;
}
.escolha > li{
    padding: 20px 0px 10px 10px;
    font-size: 25px;
}
.escolha a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.configuracoes{
    position: absolute;
    top: 92%;
    border-top: 1px solid;
    width: 95%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.configuracoes > a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 7px;
    text-decoration: none;
}
.areadelogin > #exit{
    position: absolute;
    left: 80%;
    margin-top: 5%;
}
menu > ul > div > #usuario{
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 120px;
    padding-bottom: 10px;
}
ul{
    list-style-type: none;
}
menu > ul > li{
    border: 1px solid;
    height: 85px;
}
header > input#pesquisa{
    width: 65%;
    height: 55%;
}
#iconepesquisa{
    font-size: 20px;
    position: absolute;
    left: 19%;
}
header > p{
    position: absolute;
    left: 26%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color:  rgb(48, 47, 47);
    height: 7dvh;
    display: flex;
    justify-content: space-around;
}
footer div{
    font-size: 170%;
    border-top: 3px solid rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
footer div p{
    font-size: 50%;
    font-weight: bold;
    text-align: center;
}
.numnotificacao{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 74%;
    top: 93%;
    height: 2.5%;
    width: 1%;
}
footer div:active{
    border-top: 3px solid red;
}