@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header{
    background-color: grey;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header i{
    font-size: 35px;
}
header menu{
    border: 1px solid red;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 65%;
}
menu > ul > div{
    border-bottom: 1px solid;
    padding-bottom: 30px;
    background-color: rgb(128, 128, 128);
}
menu > ul > div > #exit{
    position: absolute;
    left: 80%;
}
menu > ul > div > #usuario{
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 120px;
}
ul{
    list-style-type: none;
}
menu > ul > li{
    border: 1px solid;
    height: 85px;
}
header > input#pesquisa{
    width: 65%;
    height: 55%;
}
#iconepesquisa{
    font-size: 20px;
    position: absolute;
    left: 19%;
}
header > p{
    position: absolute;
    left: 26%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: grey;
    height: 8dvh;
    display: flex;
    justify-content: space-around;
}
footer i{
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
footer div p{
    font-size: 15px;
    font-weight: bold;
}
footer i:active{
    border-top: 3px solid red;
}