@charset "UTF-08";

@media screen and (max-width: 992px){
    header{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
    }
    footer{
        position: absolute;
        top: 92.5%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 9%;
        width: 100%;
        background-color: rgb(39, 39, 39);
    }
    footer a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer > div > a >i{
        font-size: 200%;
        color: rgba(255, 255, 255, 0.637);
    }
    footer p{
        color: rgba(255, 255, 255, 0.637);
    }
    footer a:active{
        border-top: 3px solid rgba(255, 255, 255, 0.637);
    }
}