@charset "UTF-08";

@media screen and (max-width: 992px){
    header{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
    }
    main{
        border: 1px solid red;
        height: 570px;
    }
    footer{
        position: absolute;
        top: 92.5%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 7%;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.438);
    }
    footer a{
        text-decoration: none;
    }
    footer > div > a >i{
        font-size: 250%;
        color: black;
    }
}